In [ ]:
#no is palindrome or not

num = int(input("enter any no "))
num= str(num)
revn= num[::-1]

if num==revn:
  print(num," is a palindrome")
else:
  print(num, " is not a palindrome")

enter any no 121
121  is a palindrome

In [ ]:
#no is palindrome or not without any build in fuction


num = int(input("enter any no "))
temp=num
rev=0

while(num>0):
  dig=num%10
  rev= rev*10+dig
  num=num//10

if temp==rev:
  print(temp," is a plindrome no")

else:
  print(temp, "is a not a palindrome no")

enter any no 122
122 is a not a palindrome no

In [ ]:
#2 pattern 
'''
1
22
333
4444
55555
'''
n=int(input("enter any int: "))
for i in range(1,n+1):
  for j in range(i):
    print(i, end="")
  print("\n")

enter any int: 5
1

22

333

4444

55555

In [ ]:
#define fun to print

'''
#
##
###
####
#####
'''

def fun1(n):
  for i in range(0,n):
    for j in range(0,i+1):
      print('#', end=" ")
    print("\n")

fun1(5)

#

# #

# # #

# # # #

# # # # #

In [ ]:
#print pattern

'''
0
01
012
0123
01234
'''

#outer loop handle the no of rows

#inner loop handles the values

def pattern2(num):
  for i in range(0,num):
    number=0
    for j in range(0,i+1):
      print(number, end=' ')
      number= number+1
    print('\n')

pattern2(5)

0

0 1

0 1 2

0 1 2 3

0 1 2 3 4

In [ ]:
#pascal triange

'''
       1
      1  1
    1  2  1
  1  3  3  1
1  4  6  4  1

'''

n = int(input("enter the no of row: "))
list=[]

for i in range(n):
  temp_list=[]
  for j in range(i+1):
    if j==0 or j==i:
      temp_list.append(1)
    else:
      temp_list.append(list[i-1][j-1] + list[i-1][j])
  list.append(temp_list)

print(list)

for i in range (n):
  for j in range (n-i-1):
    print ("",end=" ")
  for j in range (i+1):
      print (list[i][j],end=" ")
  print("\n")

enter the no of row: 5
[[1], [1, 1], [1, 2, 1], [1, 3, 3, 1], [1, 4, 6, 4, 1]]
    1

   1 1

  1 2 1

 1 3 3 1

1 4 6 4 1

In [ ]:
#print folowing pattern

'''
A
BB
CCC
DDDD
'''
def char_pattern(n):
  number =65
  for i in range(0, n):
    for j in range(0,i+1):
      char= chr(number)
      print(char, end=" ")

    number= number+1 
    print("\n")


char_pattern(5)

A

B B

C C C

D D D D

E E E E E

In [ ]:
#print folowing pattern

'''
A
BC
DEF
GHIJ
'''

def char_pattern(n):
  number =65
  for i in range(n):
    for j in range(i+1):
      char= chr(number)
      number=number+1
      print(char, end=' ')
      #ending line after each row
    print('\r')

char_pattern(7)

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

In [ ]:
'''
11. If you have a dictionary like this -> d1={"k1":10,k2:20, k3":30}. How would you increment values of all the
Keys?
'''

d1= {"k1":10,"k2":20, "k3":30}

for i in d1.keys():
  d1[i]=d1[i]+1

d1.values()

dict_values([11, 21, 31])

In [ ]:
#print the random no using random lib

import random

n = random.random()
print(n)

#print the random in range

n1= random.randint(10,90)
print(n1)

0.6827185091039227
15

In [ ]:
#denotes the uses of args and kwargs in python

def fun1(*args, **kwargs):
  print(args)
  print(kwargs)

fun1(1,'hello', name="hellboy")

(1, 'hello')
{'name': 'hellboy'}

In [ ]:
 #how do you shallow copy in python ?

l1= [10,12,13,14,15]

l2= l1

l2.append(16)

print(l1)
print(l2)
#because l1 and l2 has same memory location

[10, 12, 13, 14, 15, 16]
[10, 12, 13, 14, 15, 16]

In [ ]:
#15. what will be the output of the following piece of code ?
a=[1,2,3,4,5,6,7,8,9]
a[-1:-4:-1]

[9, 8, 7]

In [ ]:
#16. How do you print the ASCll value of a given character?

value = 'Z'

print("the asci value of",value,"is",ord(value))

the asci value of Z is 90

In [ ]:

#17 what is easiest way to shuffle a list ?

from random import shuffle 

values=['ram','lakshman','sita','hanuman']
print(values)

shuffle(values)

print(values)

['ram', 'lakshman', 'sita', 'hanuman']
['hanuman', 'lakshman', 'ram', 'sita']

In [ ]:
#18 how does floor division works ?

#removes the floting point and return the nearest lowest value 

print (5//2)
print(-7//2)
print (7.0//2)
print(-7.0//2)

2
-4
3.0
-4.0

In [ ]:
#19. Denote the usage of pass by value and pass by reference

#also called call by value call by refrence

def check_pass(arr):
  arr.append(4)

arr = [1,2,3]

print(arr) #call by value

check_pass(arr)
print(arr) #call by refrence

[1, 2, 3]
[1, 2, 3, 4]

In [ ]:
#20. What is the output of the following piece of code?

"Hello world"[::-1]

'dlrow olleH'

In [ ]:
#21. What is the output of this operation on a list: list x 2?

list1 =[1,2,3,4]
list1*2

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
#22. Write the logic to check if a given number is an Armstrong number or not

num = int(input("enter the no: "))
sum =0
n=len(str(num))
temp=num
while(num>0):
  digit=num%10
  sum= sum+ digit **n 
  num= num//10

if(temp==sum):
  print(temp," is a armstrong no")
else:
  print(temp," is not a armstrong no")

enter the no: 153
153  is a armstrong no

In [ ]:
#23. Write the logic to print a perfect number in Python

num = int(input("enter the no: "))
res=0

for i in range(1, num):
  if(num%i)==0:
    res=res+i
    
if(num==res):
  print(num," is a perfect no")
else:
  print(num," is not a perfect no")

enter the no: 8
8  is not a perfect no

In [ ]:
#24. Write the logic to print a strong number in Python
#sum of factorial of each number must be the same as input 145- 1!+ 41+ 51 145

num = int(input("enter the no: "))
sum=0
strong=num

while num>0:
  lastdigit= num%10
  f=1
  for i in range(1,lastdigit+1):
    f=f*i
  sum=sum+f 
  num=num//10

if strong==sum:
  print(strong,"is a strong no")
else:
  print(strong,"is not a strong no")

enter the no: 121
121 is not a strong no

In [ ]:
#25. Write a program to find out the second largest number in a list

sample_list=[]

n = int(input("enter the no of elements : "))

for i in range(1,n+1):
  b=int(input("enter the elements : "))
  sample_list.append(b)
  sample_list.sort()

print("second largest no of ",sample_list, "is",sample_list[n-2])

enter the no of elements : 5
enter the elements : 123
enter the elements : 1321
enter the elements : 12
enter the elements : 433
enter the elements : 76
second largest no of  [12, 76, 123, 433, 1321] is 433

In [ ]:
#26. What is the logIC to quickly swap the first and last elements in a list ?

def swap_fun(sample_list):
  size= len(sample_list)

  temp =sample_list[0]
  sample_list[0]= sample_list[size-1]
  sample_list[size-1]=temp

  return sample_list
  
swap_fun([12, 76, 123, 433, 1321])

[1321, 76, 123, 433, 12]

In [ ]:
#27.Write a program to count the number of vowels present in an input string.

# Count vowels in a different way
# Using dictionary
def Check_Vow(string, vowels):
	
	# casefold has been used to ignore cases
	string = string.casefold()
	
	# Forms a dictionary with key as a vowel
	# and the value as 0
	count = {}.fromkeys(vowels, 0)
	
	# To count the vowels
	for character in string:
		if character in count:
			count[character] += 1
	return count
	
# Driver Code
vowels = 'aeiou'
string = "Geeks for Geeks"
print (Check_Vow(string, vowels))

{'a': 0, 'e': 4, 'i': 0, 'o': 1, 'u': 0}

In [ ]:
string="you will never walk alone"
vowels = 'aeiou'

def check_vow(string,vowels):
  string= string.casefold()

  count ={}.fromkeys(vowels,0)

  for i in string:
    if i in vowels:
      count[i]=count[i]+1
  return count

check_vow(string,vowels)

{'a': 2, 'e': 3, 'i': 1, 'o': 2, 'u': 1}

In [ ]:
#28. How do you break a list into n chunks using Python?

n=3

my_list = ['geeks', 'for', 'geeks', 'like',
           'geeky','nerdy', 'geek', 'love',
               'questions','words', 'life']

l=len(my_list)

out =[my_list[i:i + n] for i in range(0,l,n)]
  
print(out)

[['geeks', 'for', 'geeks'], ['like', 'geeky', 'nerdy'], ['geek', 'love', 'questions'], ['words', 'life']]

In [ ]:
#working with python exceptionhandling

try:
  x = int(input ("Enter first number: "))
  y = int(input ("Enter second number:"))
  z = x/y
  print ("The output is ",z)
except:
  print("Cannot divide by zero! ")
else:
  print("This is the else block!! ")

Enter first number: 10
Enter second number:0
Cannot divide by zero!

In [ ]:
#what does finally block do in python?

try:
  x=5//0
  print(x)

except ZeroDivisionError:
  print("can not divided by zero")

finally:
  print('This piece of code always exicuted !!')

can not divided by zero
This piece of code always exicuted !!

In [ ]:
'''3
Krishna 67 68 69
Arjun 70 98 63

Malika 52 56 60
Malika

56.00

'''
student_marks = {}
n = int(input("how many student"))

for i in range(n):
    student_marks[i].add(input())

21

In [ ]:
# Finding the percentage in Python - Hacker Rank Solution
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()

    # Finding the percentage in Python - Hacker Rank Solution START
    output = list(student_marks[query_name])
    per = sum(output)/len(output)
    print("%.2f" % per)
    # Finding the percentage in Python - Hacker Rank Solution END

1
Malika 52 56 60
Malika

TypeError: ignored

In [ ]:

n = int(input())
student_marks = {}
    
    
for i,j in range(n):
  name_scores = input()
        #paring string
  new_str=name_scores.split(" ")
  print(new_str)
        
        
        
        # student_marks[i]=name
        # student_marks[j]=float(marks)
        
        
    # query_name = input()

In [ ]:
new_str="chirag 23 23 232"
new_str=name_scores.split(" ")
print(new_str)

['chirag', '23', '23', '232']

NameError: ignored